@charset "utf-8";
/* CSS Document */
body{
	font-family: 楷体;
	line-height: 1.75em;
	color: #4c4c4c;
	margin: 0px auto;
	width:1260px;
}
h1,h2{
	text-transform: uppercase;
	font-weight: bold;
}
strong{
	font-weight: bold;
	color: #000000;
}
.header{
	position: relative;
	background:#2a2f27 url(../images/banner.jpg) no-repeat;
	background-size: cover;
	padding: 14em 0em;
	text-align: center;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width: 1260px;

}
h1{
	font-size: 50px;
	color: aliceblue;
}
section h2{
	font-size: 40px;
	font-family: aladin;
}
span{
	color:aliceblue;
	font-size: 18px;
}
.right h2{
	text-align: left;
}
.body{
	display: flex;
}
.left,.right{
	width: 585px;
	margin:65px 0px 20px 30px;
}
.article {
	overflow: hidden;
	width:400px;
	margin: 10px 0px 10px 30px;
/*	cursor: pointer;  */
} 

.truncation {
	position: relative;
	line-height: 1.2em;
	height: 3.6em; /* 3 lines: 3 * 1.2em = 3.6 em */
}
.truncation:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
} 
.text{
	display: flex;
}
.pic{
	width: 70px;
	height: 70px;
}
section p{
	text-indent: 2em;
}
ul{
	list-style: none;
}
li{
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 30px;
}
.footer{
	border-top: 1px solid #ECECEC;
	background-color: #ECECEC;
	width: 1260px
}
.contain{
	margin-left: 30px;
	margin-right: 30px;
}
table{
	border-collapse: collapse;
}
.footer p{
	text-indent: 2em;
	font-family:quicksand;
}
.wenzhang{
	text-indent: 2em;
	font-family:quicksand;
}
 /*图片弹出层样式*/
#outerdiv{
	position:fixed;    
	top:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:2;
	width:100%;
	height:100%;
	display:none;
}
#innerdiv{
	position:absolute;
}
#bigimg{
	border:5px solid #fff;
}
#last{
	text-align: center;
	font-family: 黑体;
	font-size: 110%;
	font-weight: bold;
	background-color: black;
	color: white;
}
#slideAd{
	width: 130px;
	height: 60px;
	font-size: 120%;
	font-weight: bolder;
	background-color: #403c3b;
	color: #fff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 35px 20px 10px 60px;
	position: fixed;
	bottom: 28px;
	right: -235px;
	text-transform: uppercase;
}
#slideAd a{
	color: white;
	text-decoration: none;
}
#slideAd a:hover{
	color:cyan;
}
#videos{
	padding-left: 40px;
}
#openvideo{
	width: 500px;
	height: 300px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.buttonone , .buttontwo{
	justify-content: flex-end;
	display: flex;
	width:500px;
}
/*
#note {
	color: #fff;
	background-color: #000;
	opacity: 0.9;
	box-shadow: -3px 3px 6px #000;
	height: 300px;
	width: 600px;
	position: absolute;
	top: 144px;
	left: 335px;
}  */
